<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{%  if form.errors %}
<p class="error"> Sorry thats not a valid username or password </p>
{% endif %}

<form action="/user_login/auth/" method ="post">
    {% csrf_token %}
    <label for="username"> User name : </label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" value="" id="password">
    <input  type="submit" value="login" />

</form>

</body>
</html>